<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>faunus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>polymers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>xdrfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7316FA4615C569E30024F084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>738C132513FB12B30056EF71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>738C135F13FB13250056EF71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C4131E15CC61D600FF0D1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C4133015CC688100FF0D1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E9C83A15CC6B1D001D5654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
